doctype html
html

	//- HTML HEADER
	head

		include meta.jade

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

		//- HTML BODY
	body
		div#layout.views
			//- HEADER
			div.view.view-main
				div#header
					div.logo wooishui
					div.navbar
						div.navbar-inner
							div.left
								a#cancelBtn.headerBtn.txt(onclick="sgd.changeSection('home')") Cancel
								a#backBtn.headerBtn.txt(onclick="sgd.changeSection('home')") Back
								a#addBtn.icon-plus.headerBtn.active(onclick="sgd.changeSection('form')")
							div.center
							div.right
								a.headerBtn.menu-link.icon-share-square(href="javascript:void(0)")
				//- BODY

				//- The Intro block appears above flash messages (used for temporary information display)
				block intro

				//- The content block should contain the body of your template's content
				block content

				//- FOOTER
				//- #footer
				//-   p Powered by <a href="http://www.sekgamdong.com" target="_blank">SEKGAMDONG CO.</a>.

		block panel
		
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '#{ga}', 'auto');
			ga('send', 'pageview', '/home');
		script.
			window.sgd = (window.sgd) ? window.sgd : {};
			window.sgd.rootURL = '#{rootURL}';
			window.sgd.fbAppID = '#{fbAppID}';
			window.sgd.userUID = '#{user.uid}';
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/underscore/underscore-min.js')
		script(src='/components/backbone/backbone.js')
		script(src='/components/momentjs/min/moment.min.js')
		script(src='/components/framework7/dist/js/framework7.min.js')
		script(src='/components/requirejs/require.js')
		script(src='/js/config.js')
		script(src='/js/main.js')


		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
